﻿<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Carrera</th>
                <th>Semestre</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.resultado">
                <td>{{ item.nombre }}</td>
                <td>{{ item.apellidos }}</td>
                <td>{{ item.correo }}</td>
                <td>{{ item.carrera }}</td>
                <td>{{ item.semestre }}</td>
            </tr>
        </tbody>
    </table>
</div>