﻿<h1>Mis Trabajos</h1>
<div class="container">
  <table class="table">
      <thead>
          <tr>
              <th>Empresa</th>
              <th>Cargo</th>
              <th>Fecha de Inicio</th>
              <th>Fecha de Finalización</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="item in vm.user.trabajos | orderBy : '-fecha_inicio' ">
              <td>{{ item.empresa }}</td>
              <td>{{ item.cargo }}</td>
              <td>{{ item.fecha_inicio.split('T')[0] }}</td>
              <td>{{ item.fecha_fin.split('T')[0] }}</td>
          </tr>
      </tbody>
  </table>
</div>
<div class="col-md-1">
    <a style="margin-top:20px" class="btn btn-default" href="#/new/job">Agregar Trabajo</a>
</div>